#mailTemplate{
    margin:0;
    padding:0;
    height: 100%;
    top: 0;
    left: 0;
}

#mailTemplate header{
    height:15%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}

#mailTemplate header img{
    height:4.4em;
    margin-bottom: 2.1em;
    cursor:pointer;
}

#mailTemplate header h1{
    text-transform: uppercase;
    font-size: 3em;
    margin: 0 10px;
    cursor:pointer;
}

#mailTemplate body{
    height:50%;
    padding: 20px 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#mailTemplate body h2{
    font-size: 2em;
}

#mailTemplate body p{
    font-size: 1em;
}

#mailTemplate body a{
    font-size: 1em;
}

    #mailTemplate body img{
        width:20%;
        position:relative;
        left: 50%;
        transform: translateX(-50%);
    }

#mailTemplate body a{
    width: 90%;
    text-align: center;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

#mailTemplate footer{
    height:25%;
    padding: 20px 25%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media only screen and (max-width: 426px){

    #mailTemplate body{
        padding: 20px 5%;
    }

    #mailTemplate footer{
        padding: 20px 5%;
    }
}



