@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

/* Modal overlay background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: flex-start; /* Align items to start vertically */
    justify-content: center;
    overflow: hidden; /* Prevent scrolling on the overlay itself */
    z-index: 10; /* Ensure it's above other content */
    overflow-y: scroll;
}

/* Modal container */
.modal-content {
    position: absolute;
    top:70px;
    width: 80%;
    background-color: #F6F4F3;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 50%);
    /* padding: 20px; */
    margin: auto;
    z-index: 11; /* Ensure modal-content is always on top */
}

/* Cross icon inside the modal-content */
.modal-content .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #31241E;
}

/* Remove scrollbars from modal itself */
.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body.modal-open {
    overflow: hidden; /* Prevent body from scrolling */
}

/* Authentication specification  */
.modal-content .register {
    margin: 20px; /* Margin around the modal content */
}

.modal-content .login {
    margin: 20px; /* Margin around the modal content */
}

.modal-content .sendLink {
    margin: 20px; /* Margin around the modal content */
}

.password {
    display: flex; /* Flex container */
    justify-content: right; /* Align items to the right */
    align-items: stretch; /* Stretch items vertically */
}

.password span {
    position: absolute; /* Absolute positioning for the eye icon */
    display: flex; /* Flex container */
    padding: 14px; /* Padding around the eye icon */
    color: gray; /* Icon color */
	cursor: pointer; /* Cursor style */
}

.modal-content .message {
    margin: 0; /* Remove margin */
    padding: 30px 10px 0px 10px; /* Padding for error message */
    color: darkred; /* Error message color */
    position: relative; /* Relative positioning */
    width: fit-content;
    max-width:100%; /* Width adjusts to content */
    left: 100%; /* Move message to the right */
    transform: translateX(-100%); /* Slide message to the left */
    text-align: right;
    text-wrap:stable;
    word-break: break-word; /* For most modern browsers */
    overflow-wrap: break-word; /* Ensures compatibility with older browsers */

}

.modal-content h3 {
    margin: 0; /* Remove margin */
    padding-right: 30px; /* Right padding for heading */
}

.modal-content p {
    margin: 0; /* Remove margin */
}


