.recipesBoard .create-folder p {
    flex-basis:100%;
    margin:0;
    font-size: 0.9rem;;
    color:darkred;
    position: relative;
    text-align: left;
    padding-left: 30px;;
}

.recipesBoard .create-folder input[type='text']{
    padding: 10px 30px;
    margin: 10px 0;
    width: 48.5%;
    cursor: pointer;
    border: 2px dashed var(--accent-color);
    transition: border-width 0.2s ease;
    border-radius: 30px;
}

.recipesBoard .create-folder input[type='text']:hover{
    border-width: 3px;
}

.recipesBoard .create-folder input[type='text']:focus{
    background-color: var(--hover-bg-color);
    font-size: 1.1em;
    line-height: 1.8rem;
}

.recipesBoard .create-folder .primary{
    background-color: #d0c1b1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    margin: 10px 0;
    width: 24.5%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.recipesBoard .create-folder .primary:hover{
    background-color: #b8a295;
}