/* AddRecipe Styles */
.add-newRecipe,
.recipe-details {
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin: 0;
}

.add-newRecipe .form-group,
.recipe-ingredients, 
.recipe-steps {
    position:relative;
    flex:4;
    margin-bottom: 20px;
}


.add-newRecipe label,
.recipe-ingredients h2, 
.recipe-steps h2 {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #86654B;
    text-transform: uppercase;
}

.add-newRecipe input[type="text"],
.add-newRecipe textarea{
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    box-sizing: border-box;
    background: #D1C8C1;
    color: #86654B;
    appearance: none;
    outline: none;
}

.add-newRecipe input[name="title"],
.add-newRecipe input[name="title"]::placeholder {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.add-newRecipe input[type="text"]::placeholder,
.add-newRecipe textarea::placeholder {
    color: #86654B;
}

.add-newRecipe input[type="text"]:focus,
.add-newRecipe textarea:focus {
    background: #F6F4F3;
    border: 1px solid #F6F4F3;
    outline: none;
}

.add-newRecipe textarea {
    height: 80px;
    resize: vertical;
}

.add-newRecipe .scrapRecipe {
    display: flex;
    gap: 15px;
    margin: 10px 0 20px 0;
}

.add-newRecipe .scrapRecipe input {
    flex: 7;
}

.add-newRecipe .scrapRecipe button {
    flex: 3;
}

.add-newRecipe .recipe-content,
.recipe-content {
    display: flex;
    border: 5px solid #D1C8C1;
    border-radius: 30px;
    margin-top: 10px;
}

.add-newRecipe .recipe-header,
.recipe-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    height: auto;
}

.add-newRecipe .recipe-meta,
.recipe-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    color: #86654B;
}

.add-newRecipe .recipe-meta .meta-item,
.recipe-meta .meta-item {
    display: flex;
    align-items: center;
}

.add-newRecipe .recipe-meta .meta-item input {
    margin-left: 10px;
    flex: 1;
}

.add-newRecipe .recipe-image,
.recipe-image {
    height: 300px;
    object-fit: cover;
    border-radius: 0 0 0 20px;
}

.add-newRecipe .recipe-image-container,
.recipe-image-container {
    position: relative;
}

.add-newRecipe .recipe-image-container .recipe-image-overlay,
.recipe-image-container .recipe-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(134, 101, 75, 0.5);
    backdrop-filter: blur(8px);
    color: #F6F4F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.add-newRecipe .recipe-image-container:hover .recipe-image-overlay,
.recipe-image-container:hover .recipe-image-overlay {
    opacity: 1;
}

.recipe-image-overlay p {
    margin: 10px 20%;
    font-size: 1.2rem;
    text-align: center;
}

.add-newRecipe .right-column,
.right-column {
    display: flex;
    flex-direction: column;
    flex: 6.5;
    padding: 20px;
}

.add-newRecipe .primary,
.primary {
    background-color: #d0c1b1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-newRecipe .primary:hover,
.primary:hover {
    background-color: #b8a295;
}

