.add-newRecipe .scrapRecipe {
    display: flex;
    gap: 15px;
    margin: 10px 0 10px;
}

.add-newRecipe .scrapRecipe input {
    flex: 7;
    margin:0;
    padding: 0 30px;
    border-radius: 30px;
}

.add-newRecipe .scrapRecipe button {
    flex: 3;
    border-radius: 30px;
}

.add-newRecipe .start-from-scratch,
.add-newRecipe .fetch-a-recipe {
    padding-left:30px;
    margin-bottom:10px;
}

.add-newRecipe .primary{
    border-radius:30px;
}

.modal-container .add-recipe-status,
.modal-container .fetching-status {
    display: flex;
    color: darkred;
    padding-right:30px;
    padding-bottom:10px;
    justify-content: right;
}


@media only screen and (max-width: 768px) {
    .add-newRecipe.modal-content .recipe-content{
        width:100%;
    }

    .add-newRecipe.modal-content{
        padding:0px;
        padding-top:40px;
    }

    .add-newRecipe.modal-content h3{
        padding:20px;
        padding-bottom: 0px;
    }

    .add-newRecipe.modal-content form{
        height:auto;
    }

    .add-newRecipe.modal-content .recipe-header{
        margin-top:30px;
        height:auto;
    }

    .recipe-content .recipe-image-container{
        position:relative;
        right:0;
        top:0;
        width:100%;
        margin: 10px 0
    }

    .add-newRecipe.modal-content .scrapRecipe {
        flex-direction: column;
        padding: 0 20px;
        padding-bottom:20px;
    }

    .add-newRecipe.modal-content .scrapRecipe input {
        width:100%;
        padding: 10px 30px;
        overflow-y: visible;
        flex-wrap: wrap;
    }

    .add-newRecipe .start-from-scratch {
        padding:20px;
        padding-top:0;
    }

    .add-newRecipe .fetch-a-recipe {
        padding:0 20px;
    }

    .add-newRecipe.modal-content .edit-recipe-status{
        position:absolute;
        top:168px;
        text-align:right;
        right:20px;

    }
    }
