.recipe-card {
    position:relative;
    cursor:pointer;
    border: 0px;
    border-radius: 0;
    padding: 10px;
    margin: 5px 0;
    width:20%;
    height:50vh;
    overflow: hidden;
    /* max-width: 300px; */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(134,101,75,0.1);
}

.recipe-title {
    position: relative;

}

.recipe-image {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0;
}

.recipe-title {
    font-size: 18px;
    height: 30%;
    margin-bottom: 10px;
}

.recipe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 70%;
    background: rgba(134, 101, 75, 0.5);
    backdrop-filter: blur(8px);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.recipe-card:hover .recipe-overlay {
    opacity: 1; /* Show overlay on hover */
}

.recipe-overlay p {
    margin: 10px 20%; /* Small margin for each text line */
    font-size: 1.2rem;
    width:80%;
    height: fit-content;
    text-align: start;
    color: #F6F4F3;
}

.recipe-overlay .recipe-item-logo{
    padding: 0 10px;
}

.recipe-item-modify{
    font-size: 600%;
    color:#F6F4F3;
}