.recipe-content {
    display: flex;
    border: 5px solid var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.recipe-container .edit-recipe-icon{
    position:absolute;
    top:20px;
    right:50px;
    cursor:pointer;
}

.recipe-container .edit-recipe-icon {
    transition: transform 0.3s ease, color 0.3s ease;
}

.recipe-container .edit-recipe-icon:hover {
    transform: scale(1.5);
    color: var(--text-color);
}

.recipe-container .recipe-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 20px;
}

.recipe-container .recipe-title {
    overflow: hidden;
    resize: none;
    font-size: 1.5rem;
    color: var(--accent-color);
    text-transform: uppercase;
    text-align:left;
    margin: 0 0 10px;
    padding: 10px 0;
    font-weight: bold;
}

.recipe-container .recipe-meta {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: var(--accent-color);
}

.recipe-container .recipe-meta .meta-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recipe-container .meta-item input {
    margin-left: 10px;
    padding : 0 10px;
    flex: 1;
    background-color: none;
}

.recipe-container .recipe-image {
    height: fit-content;
    object-fit: cover;
}

.recipe-container .recipe-image-container {
    position: relative;
    height: fit-content;
}

.recipe-container .recipe-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(134, 101, 75, 0.5);
    backdrop-filter: blur(8px);
    color: var(--hover-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.recipe-image-container:hover .recipe-image-overlay,
.recipe-container .recipe-image-container:hover .recipe-image-overlay {
    opacity: 1;
}

.recipe-image-overlay p {
    margin: 10px 20%;
    font-size: 1.2rem;
    text-align: center;
}

.recipe-container .recipe-ingredients,
.recipe-container .recipe-steps {
    margin-bottom: 25px;
}

.recipe-ingredients h2,
.recipe-steps h2,
.recipe-container h2 {
    font-size: 1.5em;
    color: var(--accent-color);
    margin: 0 0 10px;
    text-transform: uppercase;
}

.recipe-container .recipe-ingredients ul,
.recipe-container .recipe-steps ul {
    padding: 0;
    margin-left: 20px;
}

.recipe-container .recipe-ingredients li,
.recipe-container .recipe-steps li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.recipe-ingredients li {
    list-style: circle;
}

.recipe-steps li {
    list-style: decimal;
}

.recipe-source {
    text-align: end;
    margin: 0;
    padding: 0 20px;
}

.primary,
.recipe-container .primary {
    background-color: #d0c1b1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.primary:hover,
.recipe-container .primary:hover {
    background-color: #b8a295;
}


/* .recipe-edit .recipe-details {
    background: var(var(--main-bg-color));
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px var(--shadow-color);
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.modal-content .recipe-meta {
    justify-content: space-between;
}

.left-column {
    background-color: var(--secondary-bg-color);
    border-radius: 20px 0 0 20px;
    flex: 3.5;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.modal-content .recipe-image {
    height: 70vh;
}

.right-column,
.recipe-container .right-column {
    flex: 6.5;
    padding: 20px;
    padding-top: 40px;
}

/* Specific Styles for AddRecipe */
.recipe-container,
.recipe-details {
    background: var(var(--main-bg-color));
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px var(--shadow-color);
}

.recipe-container .form-group,
.recipe-ingredients,
.recipe-steps {
    position: relative;
    margin-bottom: 20px;
}

.recipe-container .recipe-ingredients .secondary,
.recipe-container .recipe-steps .secondary {
    position: absolute;
    width: fit-content;
    height: 35px;
    right: 0;
    top: -38px;
}

.recipe-container label {
    display: block;
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: var(--accent-color);
    text-transform: uppercase;
}

.recipe-container input[type="text"],
.recipe-container textarea {
    line-height: 1.8rem;
    margin-bottom: 0;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background: var(--secondary-bg-color);
    color: var(--accent-color);
    outline: none;
}

.recipe-container textarea {
    width: 100%;
}

/* .recipe-edit input,
.recipe-edit textarea {
    padding: 0 10px;
    background: var(--hover-bg-color);
    cursor: pointer;
}

.recipe-edit input:focus,
.recipe-edit textarea:focus {
    background: var(--hover-bg-color);
    border: 1px solid var(--hover-bg-color);
}

.recipe-edit .recipe-ingredients,
.recipe-edit .recipe-steps{
    background: var(--hover-bg-color);
    border-radius: 5px;
} */

.recipe-container textarea {
    resize: vertical;
}

