/* ViewRecipe Styles */
.recipe-details {
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    height: 20vh;
}

.modal-content .recipe-title {
    text-align: center;
    font-size: 1.5em;
    height: fit-content;
    margin: 0 0 10px 0;
}

.modal-content .recipe-meta {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: #86654B;
}

.recipe-content {
    display: flex;
}

.left-column {
    background-color: #D1C8C1;
    padding:20px;
    border-radius: 20px 0 0 20px;
    flex: 3.5;
    display: flex;
    flex-direction: column;
}

.modal-content .recipe-image {
    height: 70vh;
    object-fit: cover;
    border-radius: 0 0 0 20px;
}

.right-column {
    flex: 6.5;
    padding: 20px;
}

.recipe-ingredients,
.recipe-steps {
    margin-bottom: 20px;
}

.recipe-ingredients h2,
.recipe-steps h2 {
    font-size: 1.5em;
    color: #86654B;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.recipe-ingredients ul,
.recipe-steps ul {
    padding-inline-start: 20px;
}

.recipe-ingredients li,
.recipe-steps li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.recipe-ingredients li {
    list-style: circle;
}

.recipe-steps li {
    list-style: decimal;
}
