#resetPassword{
    padding: 0 20%;
    min-height: calc(100vh - 84.3px); /* Full height minus navbar height */
    margin-top: 84.3px; /* Navbar height offset */
}

#resetPassword form{
    width:100%;
}

#resetPassword img{
    width: 40%;
    height: auto;
    margin: 2% 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#resetPassword p{
    height: 30px;
    padding-top:10px;

}

#resetPassword h1{
    text-transform: uppercase;
    text-align: center;
}

#loader {
    width:100%;
    color: #31241E;
    font-size: 4rem;
    animation: animate 3s infinite;
}

@keyframes animate {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(720deg);
    }
}

@media only screen and (min-width: 577px) and (max-width: 1000px) {
    #resetPassword{
        padding: 0 10%;
    }

    #resetPassword img{
        width: 40%;
        height: auto;
        margin: 2% 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #resetPassword p{
        height: 60px;
        padding-top:30px;
    }
}

@media only screen and (max-width: 576px) {
    #resetPassword{
        padding: 0 5%;
    }

    #resetPassword img{
        width: 60%;
        height: auto;
        margin: 6% 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #resetPassword p{
        height: 90px;
        padding-top:20px;
    }

}
