#resetPassword {
    /* padding: 0 20%; */
    min-height: calc(100vh - 84.3px); /* Full height minus navbar and footer height */
    max-width:100vw;
    margin-top: 84.3px; /* Navbar height offset */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Column direction to manage children */
    align-items: center;
    justify-content: center;
}

#resetPassword p{
    padding-top:50px;
    /* margin:0 20%; */
}


#resetPassword img{
    width:30%;
    height:auto;
    margin: 0 35% 10% 35%;
}

@media only screen and (max-width: 576px) {
    #resetPassword{
        padding: 0 5%;
    }

    #resetPassword img{
        margin: 0 25% 20% 25%;
    }
}
