/* Footer Container */
#footer {
    position: relative; /* Positions the footer relative to its normal position */
    bottom: 0; /* Places the footer at the bottom */
    height: 185px; /* Sets the height of the footer */
    z-index: 10; /* Ensures the footer is on top of other elements */
    background-color: #F6F4F3; /* Sets the background color of the footer */
}

/* Horizontal Rule in Footer */
#footer hr {
    margin: 0 5%; /* Adds margin to the sides of the horizontal rule */
}

/* Footer Body */
.footer_body {
    display: flex; /* Uses flexbox for layout */
    margin: 0 10%; /* Adds margin to the sides of the footer body */
    flex-direction: row; /* Aligns items in a row */
    justify-content: space-between; /* Distributes space between items */
}

/* Footer Logo H1 */
.footer_body h1 {
    margin: 0; /* Removes margin */
    padding: 14px 16px; /* Adds padding */
    font-size: 1.5rem; /* Sets font size */
    font-weight: bold; /* Makes text bold */
    text-transform: uppercase; /* Transforms text to uppercase */
}

/* Footer Section H2 */
.footer_body h2 {
    margin: 0; /* Removes margin */
    padding: 14px 0px; /* Adds padding */
    font-size: 1.1rem; /* Sets font size */
    font-weight: bold; /* Makes text bold */
    text-transform: uppercase; /* Transforms text to uppercase */
}

/* Footer Lists */
.footer_body ul {
    list-style: none; /* Removes list bullets */
    padding-left: 0; /* Removes left padding */
}

/* Footer Links */
.footer_body a {
    margin-bottom: 16px; /* Adds margin to the bottom */
}

/* Footer Paragraphs */
.footer_body p {
    margin-bottom: 16px; /* Adds margin to the bottom */
}

/* Links General Styling */
a {
    display: inline-block; /* Makes links inline-block */
    text-decoration: underline; /* Underlines text */
    color: inherit; /* Inherits parent color */
}

/* Footer Logo Container */
.footer_logo {
    cursor: pointer; /* Changes cursor to pointer */
    display: flex; /* Uses flexbox for layout */
}

/* Footer Logo Image */
.footer_logo img {
    height: 2.2em; /* Sets image height */
    margin-bottom: 1.1em; /* Adds margin to the bottom */
}

/* Footer Legal Section */
.footer_legal {
    margin: 0 20% 0 0; /* Adds margin to the right */
}

/* Footer Copyright */
.copyright {
    font-size: 0.9rem; /* Sets font size */
    display: flex; /* Uses flexbox for layout */
    justify-content: right; /* Aligns content to the right */
    margin: 0 5%; /* Adds margin to the sides */
}

/* Responsive Design for Small Screens */
@media only screen and (max-width: 576px) {
    #footer{
        height: 420px;
    }

    .footer_body {
        flex-direction: column; /* Changes layout to column on small screens */
    }
}
