.HomePage_body{
    /* overflow: hidden; */
    height:calc(100vh - 64px);
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.banner{
    background-image: url("../../Resources/firstpage/Egg.jpg");
    background-size: cover;
    background-position: 0% 93%;

    width:100%;
    height:60%;

    margin: 2% 0px;
    padding: 2em 0px;
    font-size: 1.3em;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
}

.banner h1{
    margin: 0.05em 10%;
}

.banner .plan{
    padding: 0px 8%;
} 

.banner .print{
    padding: 0px 18%;
} 

.presentation{
    display: flex;
    margin: 0 10% 2% 10%;
}

.speech{
    width: 40%;
    margin: 0 2.3% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    font-family:'Poppins';
    text-align: justify;
    font-size: 0.95rem;
    margin: 0;
}

.pictures{
    width:60%;
    display:flex;
    justify-content: space-between;
}

.pictures img{
    width: 31%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    margin:0;
}

.primary {
    align-items: center;
    background-color: #D1C8C1;
    border: 0;
    border-radius: 0px;
    color: #F6F4F3;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5ex;
    text-transform: uppercase;
    justify-content: center;
    min-height: 40px;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.primary:hover,
.primary:focus { 
    background-color: #B49C8A;
    color: #F6F4F3;
}

.primary:active {
    background: #86654B;
    color: rgb(255, 255, 255, .7);
}

@media only screen and (max-width: 426px){
    .banner {
        height:30%;
        margin: 2% 0px;
        padding: 0.5em 0px;
        font-size: 0.9em;
    }

    .banner h1{
        margin: 0.1em 10%;
    }

    .presentation{
        flex-direction: column;
        
    }

    .presentation .speech{
        width:100%;
        margin: 5% 0;

    }

    .presentation .speech p{
        font-size: 16px;
        margin-bottom: 10%;
    }

    .presentation .pictures{
        width:100%;
        /* display: none; */
    }
}